<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <title>{{ pagetitle }}</title>
</head>
<body>
    <div class="container">
        <ul class="images">
            {% for item in rData %}
            <li>
                <a href="{{ item }}"><img src="{{ item }}" class="image"></img></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>