<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style-settings.css" rel="stylesheet" />
    <title>{{ pagetitle }}</title>
</head>
<body>
    <div class="container">
        <input type="text" value="{{value.clientsecret}}">
        <input type="text" value="{% for key, value in config.items() if value == 'clientid' %} {{value.clientid}} {% endfor %}">
        {% for key, value in config.items() %}
            {{value.useragent}}
            {{value.tempfolder}}
        {% endfor %}
    </div>
</body>
</html>